extends layout

block content
  script
    $(function(){
      

    });
    $(function(){
      var animeIn = ['flipInX','flipInY','fadeInUp','fadeInDown','fadeInLeft','fadeInRight','fadeInUpBig','fadeInDownBig','fadeInLeftBig','fadeInRightBig','bounceInDown','bounceInUp','bounceInLeft','bounceInRight','rotateIn','rotateInDownLeft','rotateInDownRight','rotateInUpLeft','rotateInUpRight','lightSpeedIn','rollIn'];

      var socket = io.connect(null, {url:location.href});
      socket.on('connect', function(){
        console.log('connect');
        $('#button').fadeIn();
        socket.emit('enter room',location.href);
        $('#msg').html('');  
      });

      socket.on('disconnect', function(){
        $('#button').hide();
        $('#text').val('リロードしてね');
      });
      socket.on('message', function(data){
        console.log('message');
        data.forEach(function(message){
          message = JSON.parse(message);
          message.date =new Date(message.date).toLocaleString()
          var index = Math.floor(Math.random() * (animeIn.length - 1));
          var list = $('#template').tmpl(message);
          if(data.length === 1){
            $(list[0]).addClass('animated ' + animeIn[index]);
            try{
              var notice = Notification.create('','from-'+message.user,message.text);
              notice.ondisplay = function(){
                setTimeout(function(){
                  notice.cancel();
                },5000);
              };
              notice.onclose = function(){
              };
              notice.show();
            }catch(e){}
          }
          list.prependTo('#msg');
        });
      });
      socket.on('counter',function(count){
        $('#counter').text(count);
        $('#t').text(decodeURI(location.href) + '(' + count + ')');
      });

      if(!localStorage){
        localStorage = {};
      }
      if(localStorage.user){
        $('#user').val(localStorage.user);
      }

     $('#button').click(function(e){
        var self = this;
        if(self.noop){
          return false;
        }
        try{
          Notification.ask();
        }catch(e){}
        var user = $('#user');
        var text = $('#text');
        if(user.val()){
          if(localStorage.user !== user.val()){
            localStorage.user = user.val();
          }
          socket.emit('send',{user:user.val(),text:text.val()});
          text.val('');
          text.focus()
        } else {
          self.noop = true;
          user.effect('highlight','fast',function(){
            self.noop = false;
          });
        }
      });

    });
  #inputs
    input#user(type="text",placeholder="name")
    br
    textarea#text(placeholder="message")
    button#button.button(style="display:none") send
  #counter
  #content
    ul#msg
  script#template(type="text/x-jquery-tmpl")
      |<li>
      | <h2>${user}</h2>
      | <span class='id'>${sessionID}</span>
      | <p>${date}</p>
      | <div class='message'>
      |   <pre>${text}</pre>
      |</li>
