!!! 5
html
	head
		title(id="t") 
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2">
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='/javascripts/jquery.min.js')
		script(src='/javascripts/jquery-ui.min.js')
		script(src='/javascripts/notifications.js')
		script('text/javascript',src='/socket.io/socket.io.js')
		script
			$(function(){
				if(!localStorage){
					localStorage = {};
				}
				if(localStorage.user){
					$('#user').val(localStorage.user);
				}
				$('#mode').attr('checked',localStorage.isChecked == 'true' ? true : false);
				
				var socket = io.connect('#{id}');
				socket.on('connect',function(){
					$('#msg').html('');	
				});
				socket.on('msg',function(messages){
					messages.forEach(function(data){
						var p = $('<pre>').text(data.text).css({fontSize:'1.5em',margin:'1px'});
						var usr = $('<span>').text(data.user).css({fontSize:'1.5em',color:'green'});
						var dd = $('<span>').text(new Date(data.date).toLocaleString());
						var box = $('<div>').append(usr).append(dd);
						var commentelm = $('<div>').addClass('msgDiv').append(box).append(p);
						var msg = $('#msg');
						msg.prepend(commentelm);
						if(messages.length > 1){
							commentelm.slideToggle();
						} else {
							if($('#mode').is(':checked')){
								try{
									var notice = Notification.create('','from-'+data.user,data.text);
									notice.ondisplay = function(){
										setTimeout(function(){
											notice.cancel();
										},5000);
									};
									notice.onclose = function(){
										commentelm.slideToggle();
									};
									notice.show();
								}catch(e){
									commentelm.slideToggle();
								}
							} else {
								commentelm.slideToggle();
							}
						}
					});
				});
				socket.on('counter',function(count){
					$('#counter').text(count);
					$('#t').text(location.href + '(' + count + ')');
				});
				
				$('#button').click(function(e){
					var self = this;
					if(self.noop){
						return false;
					}
					if($('#mode').is(':checked')){
						try{
							Notification.ask();
						}catch(e){}
					}
					var user = $('#user');
					var text = $('#text');
					if(user.val()){
						if(localStorage.user !== user.val()){
							localStorage.user = user.val();
						}
						socket.emit('send',{user:user.val(),text:text.val()});
						text.val('');
						text.focus()
					} else {
						self.noop = true;
						user.effect('highlight','fast',function(){
							self.noop = false;
						});
					}
				});
				$('#mode').change(function() {
					localStorage.isChecked = $(this).is(':checked');
				});
			});
	body
		p#counter wait a moment please...
		#content
			#puts(style='width:100%')
				input#user(type="text")
				input#mode(type="checkbox")
				label(for="mode") show dialog?
			textarea#text
			input#button.button(type="button",value="send")
			#msg.msg
