extends layout

block content
  script
    $(function(){
      var animeIn = ['flipInX','flipInY','fadeInUp','fadeInDown','fadeInLeft','fadeInRight'];


      var socket = io.connect();
      socket.on('connect', function(){
        console.log('connect');
        $('#inputs').fadeIn();
        if(!localStorage.ssid){
          localStorage.ssid = Math.floor(Math.random()*10000);
        }
        socket.emit('enter room',{url:location.href,ssid:localStorage.ssid});

        $('#msg').html('');  
      });

      socket.on('disconnect', function(){
        $('#button').hide();
        $('#text').val('リロードしてね');
      });
      socket.on('message', function(data){
        console.log('message');
        data.forEach(function(message){
          message = JSON.parse(message);
          message.date =new Date(message.date).toLocaleString()
          var index = Math.floor(Math.random() * (animeIn.length - 1));
          var list = $('#template').tmpl(message);
          if(data.length === 1){
            $(list[0]).addClass('animated ' + animeIn[index]);
            var bridge = document.getElementById("GrowlBridge");
            var growl = bridge.Growl("");
            if(growl){
              growl.register("dchat", "http://www.growlforwindows.com/gfw/examples/js/growl.png");
              growl.notify(message.user, message.text, "http://www.growlforwindows.com/gfw/examples/js/growl.png");
            } else {
              try{
                var notice = Notification.create('','from-'+message.user,message.text);
                notice.ondisplay = function(){
                  setTimeout(function(){
                    notice.cancel();
                  },5000);
                };
                notice.onclose = function(){
                };
                notice.show();
              }catch(e){}
            }
          }
          list.prependTo('#msg');
        });
      });
      socket.on('counter',function(count){
        $('#counter').text(count);
        $('#t').text(decodeURI(location.href) + '(' + count + ')');
      });

      if(!localStorage){
        localStorage = {};
      }
      if(localStorage.user){
        $('#user').val(localStorage.user);
      }

     $('#button').click(function(e){
        var self = this;
        if(self.noop){
          return false;
        }
        try{
          Notification.ask();
        }catch(e){}
        var user = $('#user');
        var text = $('#text');
        if(user.val()){
          if(localStorage.user !== user.val()){
            localStorage.user = user.val();
          }
          socket.emit('send',{user:user.val(),text:text.val()});
          text.val('');
          text.focus()
        } else {
          self.noop = true;
          user.effect('highlight','fast',function(){
            self.noop = false;
          });
        }
      });
    });
  style
    #inputs:hover { top: 3px }
    #inputs {
        -webkit-box-shadow: 3px 3px 5px 0px #777;
        position: absolute;
        top: -250px;
        left: 60%;
        z-index: 9999;
        -webkit-transition-property: top;
        -webkit-transition-duration: .3s;
        -webkit-transition-timing-function: ease-in;
        -moz-transition-property: top;
        -moz-transition-duration: .3s;
        -moz-transition-timing-function: ease-in;
    }
  object(type="application/gntp-plugin",id="GrowlBridge",width="0",height="0",style="height:0px;width:0px;position:absolute;")
  #inputs.well.span4(style="position:absolute;")
    fieldset
      .control-group
        label.control-label nickname
        input#user.input-small(type="text")
      .control-group
        textarea#text(style="width:100%;height:6em;",placeholder="comment")
      .form-actions(style="margin:0;padding:20px;")
        button#button.btn.btn-primary send
    h6#counter
  #content.well
    ul#msg
  script#template(type="text/x-jquery-tmpl")
      |<li>
      | <h4 style="display:inline">${user}</h4>
      | <strong>id:</strong>${sessionID}
      | <p class=''>${date}</p>
      | <pre>${text}</pre>
      |</li>
