doctype 5
html
  head
    title#t
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2">
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/animate.css')
    script(src='/javascripts/notifications.js')
    script(src='/socket.io/socket.io.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js')
    script(src='http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js')
  body
    block content